*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  margin-bottom: 2rem;
}
.heading{
  background: #1245;
  color: blueviolet;
  padding: 2rem;
  font-weight: bolder;
}
.score{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #861212;
}
.score span{
  color: #f16c6c;
}
.choices{
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.button{
  margin-top: 4rem;
  margin-left: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  background: #1245;
  color: #561ae2;
  border: none;
}
.button:hover{
  background: black;
}

.result h1,
.result h2{
  margin-top: 2rem;
  color: #f16c6c;
}
.result h1 span,
.result h2 span{
  color: #861212;
}
